/* file name: movie.txt
Author: melaku Tegegne
desc: this css file define the style for moviereview html
 Date: 22 April 2020
*/
#bannerbg {
	background-image: url("../images/bannerbg.png");		
}
h1 {
    text-align:center;
	font-family:Tahoma, Verdana;
	text-shadow: 3px 3px #999999;
}
body{
	background-image: url("../images/background.png");
}
#container{	

	width:900px;
	margin:auto;
	border-radius: 10px;
	border: 2px solid #73AD21;
	border-color:#8e8a67;
	
	
}
span{
	color:red;
	font-size: 500%;
	font:bold;
}
#left{	
	float:left;
	width:650px;
	margin:0px;
	
}
#ltop{
	background-image: url("../images/rbg.png");	
	width:650px;
}
#review{
	
    width:650px;
}

.reviews{
	border-radius: 15px;
	border: 2px solid #73AD21;
	border-color:#8e8a67;
	padding: 10px;
	width: 280px;
	background-color:#e7dd94;
 
}
#review1{
	float:left;
	width: 315px;
	margin-left:10px;
	
 
}
#review2{
	float:left;
	width: 325px;
 
}

#right{	
 display:inline-block;
  width:250px;
  margin:0px;
  
	
}
#rtop{	
}
#rbottom,#page
{
	
	background-color:#a1b163;
}
#rtop, #rbottom{
	width:250px;
	margin: 0px;
	padding:0px;
}
#page{
	text-align:center;
	margin:0px;
	padding:0px;
}
#bottom{
    opacity: 0.4;
    position: fixed;
    right: 1px;
    bottom: 0px;
	}
