/*-- documentation about this file 
filename:style.css
author: Melaku Teegne
description: this file provides some styles for webform2.html 
date: 23 April 2020

*/
.ncolor{
    color:#ffffff;
}
h3 {
    font-weight: normal;
}